h1{
	text-align: center;
	color: red;
	}
	
img	
{
	display: block;
	margin-left:auto;
	margin-right:auto;
}
h3{
	text-align: center;
	color: red;
	}
	
	body{
		background-image: url("img/sfondo_2.jpg");		
		}
		
	img{border:9px solid #F2282E
		}
	