body {
	background-image: url("../img/sfondo.jpg");
	color: blue;
	height: 4em;
	margin-left: 50;
	margin-right: 50;
	line-height: 1.5;
}

h1 {
	text-align: center;
	color: red;
}

h2 {
	text-align: center;
	color: green;
}

table {
	margin-left:auto;
	margin-right:auto;
}

table, th, td
{
	border: 1px solid white;
}

img {
	border: 5px solid black;
	display: block;
	margin-left:auto;
	margin-right:auto;	
	/*
	border-color: lightskyblue;
	border-width:em;*/
}

a:link {
	color: purple;

}

a:visited {
	color: darkgreen;;

}

/* ID */

#margini {
	margin-top: 30; 
	margin-left: 200;
	margin-right: 200;
}
hr {
	color: red;
	border: 2px solid green;
	}
	
	h3 {
	text-align: center;
}