body { 
color white;
background-color: black;;
}
h1 {
	color: #3FFFC1;
}	
h1  { text-align: center;
}	

a:link {
	color:#3FFFC1;
}
a:visited {
	color: #FFB8C1 ;
}
body {
	
	color:white;
}
img {
	border: 3px solid   #FFB8C1  ;
}
